{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'store/base.css' %}">
        {% block stylesheet %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ContempoCrafts</title>
    </head>
    <body>
        <nav class="menu">
            <a href="{% url 'store:store_list' %}"><img id="logo" src="{% static 'store/images/logo.png' %}"></a>
            <aside>ContempoCrafts</aside>
            <a href="{% url 'store:store_list' %}">About Us</a>
            <section id="bag">
                <a href="{% url 'store:checkout' %}"><img id="bag-icon" src="{% static 'store/images/shopping_bag.png' %}"></a>
                <p class="bag-quantity">{{ total_items }}</p>
            </section>

            {% if request.user.is_authenticated %}
            <a href="{% url 'store:product_admin' %}">Product Admin</a>
            <form action="/accounts/logout/" method="POST">
                {% csrf_token%}
                <button type="submit">Logout</button>
            </form>
            {% else %}
            <a href="/accounts/login">Login</a>
            {% endif %}
        </nav>
        {% block content %}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>