{% extends 'store/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

    {% block stylesheet %}<link rel="stylesheet" href="{% static 'store/checkout.css' %}">{% endblock %}

{% block content %}
    {% if products_in_bag %}    
        <main>
            <section class="order-info">
                <h1>Contact and Shipping Information</h1>
                <form id="order-form" method="POST">
                    {% crispy form %}
                </form>
            </section>
            <section id="bag-contents">
                <h1>Bag Contents</h1>
                <aside>
                    {% for bag_item in products_in_bag %}
                        <img src="{{ bag_item.image }}">
                        <section id="product-details">
                            <p>{{ bag_item.product.name }}</p>
                            <p>{{ bag_item.quantity}} x ${{ bag_item.product.price }}</p>
                            <p>Sold by {{ bag_item.product.store }}</p>
                        </section>
                    {% endfor %}
                </aside>
                <strong id="total">Total Cost: ${{ total_cost }}</strong>
            </section>
        </main>
    {% else %}
        <h1 id="empty-bag">Your bag is empty</h1>
    {% endif %}
{% endblock %}