{% extends 'store/base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'store/store_list.css' %}">
{% endblock %}

{% block content %}
    {% for message in messages %}
    <h2 class="message">{{ message }}</h2>
    {% endfor %}
    {% if stores %}
    <h1>Available Stores</h1>
    <main class="store-list">
        {% for store in stores %}
            <section class="store">
                <a href="{% url 'store:store_front' store_id=store.id %}">
                    {% if store.image %}
                    <img src="{{ store.image.url }}" alt="{{ store.name }}" class="store-image">
                    {% else %}
                    <img src="{% static 'store/images/logo.png' %}" alt="{{ store.name }}" class="store-image">
                    {% endif %}
                    
                    
                    <div class="store-info">
                        <h2 class="store-name">{{ store.name }}</h2>
                        <p class="store-category">{{ store.category }}</p>
                    </div>
                </a>
            </section>
        {% endfor %}
    </main>
    {% else %}
    <h1>No stores are currently available. Please check back later</h1>
    {% endif %}
{% endblock %}