body {
    box-sizing: border-box;
    max-inline-size: 1200px;
    margin-inline: auto;
    background-color: #e0e8f9;
    color: #003366;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    color: #003366;
    padding-block: 10px;
    margin-block-end: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.menu a {
    color: #003366;
    text-decoration: none;
    transition: color 0.3s;
}

.menu a:hover {
    color: #0056b3;
}

#bag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-end: 10px;
    border-radius: 10px;
}

#bag:hover {
    color: #e0e8f9;
    background-color: #0056b3;
}

#logo, #bag-icon {
    inline-size: 50px;
    block-size: 50px;
}

.dropbtn {
    padding-inline: 16px;
    padding-block: 12px;
    border-radius: 12px;
    border: none;
    background-color: #0056b3;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.dropbtn:hover {
    background-color: #003366;
    color: #ffffff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    color: #003366;
    min-inline-size: 160px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #003366;
    padding-inline: 12px;
    padding-block: 12px;
    border-radius: 12px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-content a:hover {
    background-color: #e0e8f9;
    color: #003366;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #003366;
}

.navbtn:hover {
    background-color: #0056b3;
    color: #ffffff;
}

#logout {
    padding-inline: 16px;
    padding-block: 12px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

#logout:active {
    background-color: #0056b3;
}

#login {
    padding-inline: 16px;
    padding-block: 12px;
    border-radius: 12px;
}

#login:hover {
    background-color: #0056b3;
    color: #e0e8f9;
}

@media screen and (max-width: 800px) {
    #logo, #bag-icon {
        inline-size: 35px;
        block-size: 35px;
    }
}
