body {
    box-sizing: border-box;
    max-inline-size: 1000px;
    margin-inline: auto;
    background-color: #D4D4D4;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-block-end: 2.5px solid black;
    padding-block-end: 2.5px;
    margin-block-end: 20px;
}

#bag {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo, #bag-icon {
    inline-size: 50px;
    block-size: 50px;
}

@media screen and (max-width: 800px) {
    #logo, #bag-icon {
        inline-size: 35px;
        block-size: 35px;
    }
}
