main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-inline: 40px;
    padding-block: 40px;
}

#order-form {
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#order-form > * {
    margin-block-end: 1.5rem;
    justify-content: center;
}

#bag-contents aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#bag-contents h1 {
    text-align: center;
    margin-block-end: 2.5rem;
}

#bag-contents aside img {
    text-align: center;
    justify-items: center;
    inline-size: 150px;
    block-size: auto;
    margin-block-end: 2rem;
    border-radius: 2rem;
}

#empty-bag {
    text-align: center;
}