main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 60px;
    padding-inline: 40px;
    padding-block: 40px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgb(0, 0, 0, .4);
}

.order-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.order-info h1 {
    text-align: center;
    font-size: 1.75rem;
    color: #333;
    margin-bottom: 20px;
}

#order-form {
    max-width: 400px; /* Limits the width of the form */
    inline-size: 100%; /* Ensures the form takes the full width available */
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns form elements to the center */
}

#order-form input {
    inline-size: 100%;
    padding-block: 0.75rem;
    padding-inline: 1rem;
    font-size: 1rem;
    border-radius: 0.375rem;
    border: 1px solid #ccc;
    margin-block-end: 1.5rem;
    transition: border-color 0.3s ease-in-out;
}

#order-form input:focus {
    border-color: #007bff;
    outline: none;
}

#order-form {
    display: flex;
    flex-direction: column;
    max-inline-size: 100%;
    margin: 0 auto;
}

#bag-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bag-contents h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #333;
}

#bag-contents aside img {
    display: block;
    margin-block: 0 auto;
    margin-inline: auto;
    inline-size: 125px;
    height: auto;
    border-radius: 1rem;
    border: 1px solid #ddd;
}

#product-details p:nth-child(3) {
    margin-block-end: 3rem;
}

#empty-bag {
    text-align: center;
    color: #777;
    margin-block-start: 3rem;
}

/* Total Price */
#total {
    display: block;
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 2rem;
}

/* Place Order Button */
#submit-id-place-order {
    text-align: center;
    inline-size: 100%;
    block-size: 50px;
    margin-block: 0;
    margin-inline: auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#submit-id-place-order:hover {
    background-color: #0056b3;
}

#submit-id-place-order:active {
    background-color: #04448a;
    border: none;
}