.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-inline: 3rem;
    margin-block: 3rem;
    gap: 0 2rem;
}

.product img {
    inline-size: 100%;
    block-size: auto;
    border-radius: 10px;
    block-size: auto;
    box-shadow: 0 4px 16px rgb(0, 0, 0, .4);
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline-start: 10px;
    background-color: #c0c8e6;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgb(0, 0, 0, .4);
    padding-inline: 2rem;
}

#add-to-bag {
    inline-size: 10rem;
    margin-block-start: 1.5rem;
    margin-block-end: 2rem;
    height: auto;
}