{% extends 'store/base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'store/user-admin/product/product_admin.css' %}">
{% endblock %}

{% block content %}

<h1>Product Admin for {{ store.name }}</h1>
<a href="{% url 'store:product_admin_add' %}"><h2>Add Product &plus;</h2></a>


{% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<section id="products">
{% for product in products %}
        <a class="product" href="{% url 'store:product_admin_modify' pk=product.pk %}">{{ product.name }}</a>
{% endfor %}
</section>

{% endblock %}