django==5.0.6
django-environ==0.11.2 # environ variable management
psycopg==3.1.19 # PostgeSQL DB adapter
psycopg2==2.9.9 # Python-PostgreSQL DB adapter
pillow==10.3.0 # image and static file library
django-weasyprint==2.3.0
django-allauth[socialaccount]==0.63.3
stripe==10.5.0
boto3==1.34.158
django-storages[s3]==1.14.4
whitenoise==6.7.0